@use 'partials/global' as *;
@use 'partials/mixins' as *;
@use 'partials/variables' as *;
@use 'partials/typography' as *;

.hero {
    &--shows {
        background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/AdobeStock_376710841.jpeg");
    }

    &-wrapper {
        &--shows {
            padding: 2rem 1rem;
            @include flex-layout(column, space-between);

            @include tablet {
                padding: 2.25rem;
            }

            @include desktop {
                padding: 16rem 8rem;
                flex-direction: row;
                gap: 7.875rem;
                align-items: flex-end;
            }
        }
    }

    &__title {
        &--shows {
            padding: 1rem 0;
            width: 80%;

            @include tablet {
                padding: 0.5rem 0;
                width: 35rem;
            }

            @include desktop {
                width: 100%;
            }
        }
    }

    &__subtitle {
        color: $color-white;
        font-weight: $weight-normal;
        font-size: 0.875rem;
        padding: 0.5rem 0;

        @include tablet {
            font-weight: $weight-demi;
            font-size: 1.5rem;
            padding: 1rem 0;
        }
    }

    &__music {
        width: 100%;
        height: 8.125rem;
        padding: 0.5rem 0;

        @include tablet {
            padding: 2.25rem 0;
            width: 25.25rem;
            height: 11.6875rem;
        }

        @include desktop {
            width: 85%;
        }
    }
}

.widget {
    display: none;

    &__mobile {
        display: block;
    }
}

@include tablet {
    &__mobile {
        display: none;
    }

    &__tablet {
        display: block;
    }
}

@include desktop {
    &__tablet {
        display: none;
    }

    &__desktop {
        display: block;
    }
}


.shows {
    background-color: $color-white;
    color: $color-bandsite-black;

    &-wrapper {
        @include flex-layout(column, space-evenly);
        padding: 1rem 0;

        @include tablet {
            padding: 0.5rem 1.125rem 2.25rem;
        }

        @include desktop {
            @include spacing(0 auto, 0 8rem);
            max-width: $desktop-breakpoint;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__title {
        padding: 1rem;
        font-weight: $weight-demi;
        color: $color-bandsite-black;

        @include tablet {
            padding: 3rem 1.125rem 1.5rem;
            font-size: 2.25rem;
        }
    }

    &__list-wrapper {
        @include desktop {
            padding: 3rem 0;
            width: 80%;
        }
    }

    &__subtitle-wrapper {
        display: none;
        font-weight: $weight-demi;

        @include tablet {
            padding: 1.5rem 1rem 0.5rem;
            display: flex;
            justify-content: space-between;
        }
    }

    &__subtitle {
        text-align: left;
        color: $color-silver;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: $weight-demi;
        flex: 1;
    }

    &__btn {
        height: 2.5rem;
        border-radius: 0.25rem;
        width: 100%;
        border: none;
        text-transform: uppercase;
        background-color: $color-bandsite-black;
        color: $color-white;
        font-weight: $weight-demi;
        font-size: 1rem;
        padding: 0 2rem;

        @include tablet {
            min-width: auto;
        }

        @include desktop {
            width: auto;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: left;
        padding: 1rem;
        border-bottom: $bandsite-border;

        &:hover {
            background-color: $color-alabaster;
        }

        &--selected {
            background-color: $color-mercury;
        }

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }
    }

    &__item-detail {
        padding-bottom: 0.5rem;

        @include tablet {
            padding: 0;
            width: 100%;
        }
    }

    &__label--mobile {
        display: contents;
        color: $color-silver;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.625rem;

        @include tablet {
            display: none;
        }
    }

    &__item-text {
        font-size: 0.8125rem;
        padding: 0.25rem 0;

        @include tablet {
            font-size: 0.875rem;
        }

        &--date {
            font-weight: 600;
        }

        @include desktop {
            font-size: 1rem;
        }
    }

    &__btn-wrapper {
        padding-top: 0.5rem;

        @include tablet {
            padding: 0;
            min-width: 25%;
        }

        @include desktop {
            width: 9.375rem;
            text-align: right;
        }
    }
}

.about {
    background-color: $color-white;
    color: $color-bandsite-black;

    &-wrapper {
        padding: 1rem;
        color: $color-bandsite-black;

        @include tablet {
            padding: 2rem;
        }

        @include desktop {
            @include spacing(0 auto, 2rem 8rem);
            max-width: $desktop-breakpoint;
        }
    }

    &__header {
        padding: 0.5rem 0;
        font-weight: $weight-demi;

        @include tablet {
            font-size: 2.25rem;
            padding: 1rem 0;
        }

        @include desktop {
            padding-bottom: 1.5rem;
        }
    }

    &__content {
        padding: 0.5rem 0;

        @include tablet {
            padding: 1.25rem 3.5rem 0;
        }

        @include desktop {
            padding: 1.25rem 6rem 0;
        }
    }

    &__img-wrapper {
        overflow: hidden;
    }

    &__img {
        margin-top: -2rem;
        width: 100%;
        object-fit: cover;
        object-position: bottom;

        @include tablet {
            margin-top: -6rem;
            object-position: top;
        }

        @include desktop {
            margin-top: -4rem;
        }
    }

    &__quote {
        padding: 0.5rem 0;

        @include tablet {
            padding-top: 2.25rem;
        }

        @include desktop {
            width: 80%;
        }

        &-text {
            @include font-style(0.875rem, $weight-demi, 1.375rem);

            @include tablet {
                @include font-style(1.5rem, $weight-demi, 2rem);
            }
        }

        &-author {
            font-weight: $weight-demi;
            padding-top: 0.5rem;
            font-size: .875rem;

            @include tablet {
                font-size: 1rem;
                padding-bottom: 0.5rem;
            }
        }
    }

    &__bio-header {
        @include font-style(0.875rem, $weight-demi, 1.375rem);
        padding: 0.5rem 0;

        @include tablet {
            @include font-style(1.5rem, $weight-demi);
            padding-top: 2.25rem;
        }
    }

    &__bio-text-wrapper {
        @include tablet {
            @include grid-layout(2, 1.5rem);
        }
    }

    &__bio-text {
        @include font-style(0.8125rem, $weight-normal, 1.125rem);
        padding: 0.5rem 0;

        @include tablet {
            display: inline-grid;
            @include font-style(0.875rem, $weight-normal, 1.375rem);
            padding-top: 1rem;
            padding-bottom: 0;
        }
    }
}


.gallery {
    background-color: $color-alabaster;
    color: $color-bandsite-black;

    &-wrapper {
        @include flex-layout(column, space-evenly);
        padding: 1rem 1rem 0.5rem 1rem;

        @include tablet {
            padding: 0 2.25rem 2.25rem;
        }

        @include desktop {
            @include spacing(0 auto, 0 8rem 2.25rem 8rem);
            max-width: $desktop-breakpoint;
        }
    }

    &__title {
        padding: 0.5rem 0;
        font-weight: $weight-demi;

        @include tablet {
            padding: 3rem 0 1.5rem;
            font-size: 2.25rem;
        }
    }

    &__img-list {
        @include tablet {
            @include grid-layout(3, 1.5rem);
        }
    }

    &__img {
        display: inline-grid;
        width: 100%;
        height: auto;
        padding: 0.5rem 0;
        @include gray-transition (100%);
        transition: all 0.9s ease;

        &:hover {
            @include gray-transition (0%);
        }

        @include tablet {
            padding: 0;
        }
    }
}